#upper{
	background-color: white;
	height: auto;
}
#img_container{
    position:relative;
    margin:0 auto;
    height:auto;
    text-align:center;
	width:30%;
}

#home_container{
	float: left;
	display: inline-block;
	width: 15%;
}

#MapBtn {
	width:5em;
	color:white;
	background-color: black;
	border: none;
}
#MapBtn:hover {
	background-color: white;
	color:black;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24), 0 8px 20px 0 rgba(0,0,0,0.19);
    transition: box-shadow 1s, background-color 0.5s, color 1s;
}


#upper h2 {
	color: white;
	text-align: center;
}
#mid {
	position: relative;
	top: 5%;
	padding: 0;
	font-size: 2em;
}
#mid li {
	display: block;
	margin: 0 0 1em 0;
	border-bottom: solid 0.01em rgba(77, 208, 225, 0.5);  
}
.info{
	font-size: 0.6em;
	margin-right: 8%;
	position:relative;
    text-decoration: none;
    vertical-align: middle;

}

#title{

	display: inline-block;
	max-width: 60%;
}
#title:hover{
	cursor:pointer;
    color:black;
    transition: color 1s;
}
#title:before{
    content:"";
    position: absolute;
    width:100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
#title:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#btn_container{
	float: right;
	width: 20%;
}

.modal_div{
	border-top: solid 1px #ddd;
}
.info_text{
	font-size: 17px;
}
/*#btn_container button {
	color:white;
	font-size: 0.45em;
	width: 6em;
	height: 2em;
	border: none;
	cursor:pointer;
	vertical-align: middle;
}
.edt {
	background-color: green;
	margin-right: 10%;

}
.edt:hover {
	background-color: white;
	color:green;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24), 0 8px 20px 0 rgba(0,0,0,0.19);
    transition: box-shadow 1s, background-color 1s, color 1s;
}
.dlt {
	background-color: red;
	margin-left: 10%;
}*/