<h1 style="text-align: center;">LOFO</h1>
<h5 style="text-align: center;">Purdue Lost & Found Online System</h5>
<div style="text-align: center;">
    <div>
        <label>username: </label>
        <input value="{{pUsername}}" placeholder="your username">
    </div>
    <div>
        <label>password: </label>
        <input value="{{pPassword}}" placeholder="your password">
    </div>
    <div>
        <nav>
            <a onclick="clickLogin()">Login</a>
            <a routerLink="/register">Register</a>
        </nav>
        <router-outlet></router-outlet>
    </div>
    
</div>