<h1 style="text-align: center;">LOFO</h1>
<h3 style="text-align: center;">Registion</h3>
<h5 style="text-align: center;">Purdue Lost & Found Online System</h5>
<div style="text-align: center;">
    <div>
        <label>username: </label>
        <input value="{{pUsername}}" placeholder="set username">
    </div>
    <div>
        <label>password: </label>
        <input value="{{pPassword}}" placeholder="set password">
    </div>
    <div>
        <label>re-enter password: </label>
        <input value="{{pPassword02}}" placeholder="re-enter password">
    </div>
    <div>  
        <label>purdue email </label>
        <input value="{{pEmail}}" placeholder="@purdue.edu">
    </div>
    <button onclick="clickSumbit()">Sumbit</button>
</div>