
<button type="button" class="btn btn-success" (click)="lgModal.show()"  (click)="editClicked()" id = "edt">
	<span class="glyphicon glyphicon-pencil" ></span>Edit Post
</button>

<button type = "button" class="btn btn-success" (click)="smModal.show()" id = "dlt">
	<span class="glyphicon glyphicon-remove-circle" ></span> Delete Post

</button>

<!--  edit dialog -->
<div class="modal fade" bsModal #lgModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{title}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="lgModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
        	<label for="title">Title</label>
        	<input [(ngModel)]="edited_post.title" type="text" class="form-control" id="title">
        </div>
        <div class="form-group">
        	<label for="description">Description</label>
        	<textarea [(ngModel)]="edited_post.description" class="form-control" rows="5" id="description" style="max-width:100%"></textarea>
        </div>
        <div class="form-group">
          <label for="photo">Photo URL</label>
          <input [(ngModel)]="edited_post.photo" type="text" class="form-control" id="photo">
        </div>
        <div *ngIf="edited_post.photo">
          <img src={{edited_post.photo}} class="img-thumbnail" alt="If you cannot see photo here, double check url" width="304" height="236">
        </div>
        <div class="form-group">
        	<label for="name">Full Name(Optional)</label>
        	<input [(ngModel)]="edited_post.fullname" type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
        	<label for="phone">Phone Number(Optional)</label>
        	<input [(ngModel)]="edited_post.contact" type="text" class="form-control" id="phone">
        </div>       

        <div>
        <div class="form-group" dropdown>
          <label for="sel1">Select list:</label>

          <select [(ngModel)]="edited_post.tag" class="form-control" id="sel1">  
            <option value="0">Phone</option>
            <option value="1">Key</option>
            <option value="2">Wallet</option>
            <option value="3">Bag</option>
            <option value="4">Cloth</option>
          </select>
        </div>
        </div>   
        <br>
        <div>
          <button type="button" class="btn btn-primary" aria-label="Close"
           (click)="lgModal.hide()" (click)="Edit()">
          	Submit</button>

	    <button type="button" class="btn btn-danger"
	    aria-label="Close" (click)="lgModal.hide()" style="float:right">
	      Cancel
	    </button>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- delete dialog -->
<div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Delete Post</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="smModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align:center">
        <span style="font-size:0.6em;">Delete this post?</span>
        <br>
        <br>

        <div id = "dialog_btns">
          <button type = "button" class="btn btn-danger"   style="margin-right:2em" 
          aria-label="Close" (click)="smModal.hide()" (click) = Delete()>
            <span class="glyphicon glyphicon-trash" ></span> Delete
          </button>

          <button type="button" class="btn btn-secondary"  style="margin-left:2em"
          aria-label="Close" (click)="smModal.hide()">
            <span class="glyphicon glyphicon-remove" ></span>Cancel
          </button>

        </div>

      </div>
    </div>
  </div>
</div>
