 button {
	vertical-align: middle;
}

#cfm {
	background-color: #FFAB00;
	border:none;
}

#cfm2 {
	background-color: #FFAB00;
	border:none;
}

#cfm:hover {
	background-color: white;
	color:#FFAB00;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24), 0 8px 20px 0 rgba(0,0,0,0.19);
    transition: box-shadow 1s, background-color 0.5s, color 1s;
}
#edt {

	background-color: #388E3C;
	border: none;

}
#edt:hover:enabled {
	background-color: white;
	color:#388E3C;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24), 0 8px 20px 0 rgba(0,0,0,0.19);
    transition: box-shadow 1s, background-color 0.5s, color 1s;
}
#dlt {
	background-color: #EF5350;
	border:none;
}

#dlt:hover {
	background-color: white;
	color:#EF5350;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24), 0 8px 20px 0 rgba(0,0,0,0.19);
    transition: box-shadow 1s, background-color 0.5s, color 1s;
}

.confirm_title{
	display: block;
	font-size: medium;
}
.confirm_input {
	font-size: large;
	max-width: 100%;
	border-radius: 5px;
	border-style: groove;
}