 button {
	vertical-align: middle;
}
#edt {

	background-color: #388E3C;
	border: none;

}
#edt:hover {
	background-color: white;
	color:#388E3C;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24), 0 8px 20px 0 rgba(0,0,0,0.19);
    transition: box-shadow 1s, background-color 0.5s, color 1s;
}
#dlt {
	background-color: #EF5350;
	border:none;
}

#dlt:hover {
	background-color: white;
	color:#EF5350;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24), 0 8px 20px 0 rgba(0,0,0,0.19);
    transition: box-shadow 1s, background-color 0.5s, color 1s;
}