
<ul class="list-group">
  <li [(ngModel)]="selectedTitle" class="list-group-item">Lost watch</li>
  <li [(ngModel)]="selectedUser" class="list-group-item">Ketao Chang</li>
  <li [(ngModel)]="selectedPhone" class="list-group-item">765-476-6939</li>
  <li [(ngModel)]="post_email" class="list-group-item">chang289@purdue.edu</li>
  <li [(ngModel)]="selectedDesc" class="list-group-item">I lost a watch at LWSN, DW brand, stripe on bands, I lost a watch at LWSN, DW brand, stripe on bands, I lost a watch at LWSN, DW brand, stripe on bands, </li>
</ul>
