
<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<nav id="navbar" style="margin-bottom: 0; border-radius:0px " class="navbar navbar-inverse ">
  <div class="container-fluid" id="navbar">
   
    <a class="navbar-brand" style="margin-top: 17px">LOFO</a>

    <div class="navbar-collapse collapse" >
      <ul class="nav navbar-nav navbar-left">
        <li style="margin-top: 24.5px;">
        <my-date-range-picker placeholder="Select the date range"
			  [attr.options]="myDateRangePickerOptions"
        [ngModel]="selectedDate"
		    (dateRangeChanged)="onDateRangeChanged($event)">
		    </my-date-range-picker>
		    </li>
        <li style="margin-top: 4px; margin-left: 10px">
          <div class="form-group" dropdown>
            <label for="sel1"></label>
            <select [(ngModel)]="mapItem" (change)="updateFilter()" class="form-control" id="itemFilter">
              <option selected="selected">All</option>
              <option>Phone</option>
              <option>Key</option>
              <option>Wallet</option>
              <option>Bag</option>
              <option>Cloth</option>
            </select>
          </div>
        </li>
        <li style="margin-top: 4px; margin-left: 10px">
          <div class="form-group" dropdown>
            <label for="sel1"></label>
            <select [(ngModel)]="mapLostOrFound" (change)="updateFilter()" class="form-control" id="LostOrFoundFilter">
              <option selected="selected">All</option>
              <option>Lost</option>
              <option>Found</option>
            </select>
          </div>
        </li>
        <!-- <li style="margin-top: 4px; margin-left: 10px">
          <div class="form-group" dropdown>
            <label for="sel1"></label>
            <select [(ngModel)]="mapExpired" class="form-control" id="expiredFilter">
              <option selected="selected">All</option>
              <option>Ongoing</option>
              <option>Expired</option>
            </select>
          </div>
        </li> -->

        <!-- <li style="margin-top: 24.5px; margin-left: 10px">
          <div id="updateBtn">
            <button class="btn btn-primary" (click)="updateFilter()">Update</button>
          </div>
        </li>
        <li style="margin-top: 24.5px; margin-left: 10px">
          <div id="updateBtn">
            <button class="btn btn-primary" routerLink="/history">History</button>
          </div>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
<div id="user">
  <button type="button" class="asText" (click)="isCollapsed = !isCollapsed">
    {{lofoemail}}
  </button>
  <div [collapse]="isCollapsed" id="userCollapse">
    <ul class="list-group" style="margin-bottom: none">
      <li class="list-group-item" style="background: black; border: none;">
        <button routerLink="/history" class="asTextButton">My History</button>
      </li>
      <li class="list-group-item" style="background: black; border: none;">
        <button routerLink="/expired" class="asTextButton">View Past</button>
      </li> 
      <li class="list-group-item" id="signout">
        <button (click)="signOut()" class="asTextButton">SignOut</button>
      </li>
    </ul>
  </div> 


 </div>           

<div class="container-fluid">
  <div class="row">
    <div id="sidebar" style="display: none; width: 20%; height: 90vh;" class="col-sm-3 col-md-2 sidebar">
    <ul class="list-group" style="margin-top: 10px; word-wrap: break-word; height: 87vh; overflow: scroll;">
      <li *ngIf="selectedTitle" class="list-group-item active">{{selectedTitle}}</li>
      <li *ngIf="selectedDate" class="list-group-item">{{selectedDate | date:'fullDate'}}</li>
      <li *ngIf="selectedUser" class="list-group-item">{{selectedUser}}</li>
      <li *ngIf="selectedPhone" class="list-group-item">{{selectedPhone}}</li>
      <li *ngIf="selectedEmail" class="list-group-item">{{selectedEmail}}</li>
      <li *ngIf="selectedDesc" class="list-group-item">{{selectedDesc}}</li>
      <li *ngIf="selectedUrl" class="list-group-item">
        <img src="{{selectedUrl}}" width="100%" height="auto">
      </li>
  </ul>
      <!-- <my-infobox
        [selectedUser]="selectedUser"
        [selectedTitle]="selectedTitle"
        [selectedDesc]="selectedDesc">
        
      </my-infobox> -->
      <!-- <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Export</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="">Nav item</a></li>
        <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
        <li><a href="">More navigation</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
      </ul> -->
    </div>
<!--     <div id="floating-panel" style="margin-top: 17px">
      <p class="navbar-brand">LOFO</p>
      <button type="button" class="asText" (click)="isCollapsed = !isCollapsed">Username</button>
      <div [collapse]="isCollapsed" class="card card-block card-header">
        <div id="userCollapse">Some content</div>
      </div>
    </div> -->
    <div id="map">
  		<sebm-google-map 
  		[latitude]="lat"
      [longitude]="lng"
      [zoom]="13"
      [disableDefaultUI]="false"
      [zoomControl]="false"
      (mapRightClick)="mapRightClicked($event)"
      (mapClick)="mapClicked($event)"
      (idle)="cluster($event)"
      style="height: 90vh">

      <sebm-google-map-marker id='newMarker'
          *ngIf="newMarker"
          [latitude]="newMarker.lat"
          [longitude]="newMarker.lng"
          [markerDraggable]="newMarker.draggable"
        >
        <sebm-google-map-info-window id='newInfo'
        [isOpen]=true
        (infoWindowClose)="cancelPost($event)">
          <div *ngIf="newMarker">
            <button class="btn btn-primary" (click)="lgModal.show()">New Post</button>
          </div>
        </sebm-google-map-info-window>

        </sebm-google-map-marker>
      <marker-cluster [points]="markers"
        (notify)="handleNotify($event)"
      >
        <!-- <sebm-google-map-info-window id='oldInfo'>
          <strong>{{m.name}}</strong><br>
          <strong>{{m.lat}}</strong><br>
          <strong>{{m.lng}}</strong>  
        </sebm-google-map-info-window> -->
      </marker-cluster>

  		 <!--  <sebm-google-map-marker id='oldMarker'
    		  *ngFor = "let m of markers; let i = index"
    		  (markerClick)="clickedMarker(m, i)"
    		  [latitude]="m.lat"
    		  [longitude]="m.lng"
    		  [markerDraggable]="false"
          [iconUrl]="m.iconUrl"
  		  > -->

<!--   		  </sebm-google-map-marker>-->
        
  		</sebm-google-map>
      <!-- <sebm-google-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="13"
      [disableDefaultUI]="false"
      [zoomControl]="false"
      (mapClick)="mapClicked($event)"
      (idle)="cluster($event)"
      style="height: 100vh">
    <marker-cluster [points]="markers" >
      <sebm-google-map-info-window id='newInfo'
        [isOpen]=true
        (infoWindowClose)="cancelPost($event)">
          <div *ngIf="newMarker">
            <button class="btn btn-primary" (click)="lgModal.show()">New Post</button>
          </div>
        </sebm-google-map-info-window>
    </marker-cluster>
</sebm-google-map> -->

    </div>


<div class="modal fade" bsModal #lgModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{title}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="lgModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="btn-group">
          <label class="btn btn-primary" [(ngModel)]="lost" btnRadio="true">Lost</label>
          <label class="btn btn-primary" [(ngModel)]="lost" btnRadio="false">Found</label>
      </div>

        <div class="form-group">
          <label for="title">Title</label>
          <input [(ngModel)]="title" type="text" class="form-control" id="title">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea [(ngModel)]="description" class="form-control" rows="5" id="description" style="max-width: 100%"></textarea>
        </div>
        <div class="form-group">
          <label for="photo">Photo URL</label>
          <input [(ngModel)]="photoUrl" type="text" class="form-control" id="photo">
        </div>
<!--         <div>
          <img [src]="src" [hidden]="!src"><br>
          <input type="file" image-upload
          (imageSelected)="selected($event)"
          [resizeOptions]="resizeOptions">
        </div> -->
        <div *ngIf="photoUrl">
          <img src={{photoUrl}} class="img-thumbnail" alt="If you cannot see photo here, double check url" width="304" height="236">
        </div>
        <div class="form-group">
          <label for="name">Full Name(Optional)</label>
          <input [(ngModel)]="fullname" type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
          <label for="phone">Phone Number(Optional)</label>
          <input [(ngModel)]="phone" type="text" class="form-control" id="phone">
        </div>       
        <div>
        <div class="form-group" dropdown>
          <label for="sel1">Type:</label>
          <select [(ngModel)]="tag" class="form-control" id="sel1">  
            <option value="0">Phone</option>
            <option value="1">Key</option>
            <option value="2">Wallet</option>
            <option value="3">Bag</option>
            <option value="4">Cloth</option>
          </select>
        </div>

        </div>   
        <br>
        <div>
          <button id="sbbtn" type="button" class="btn btn-primary" (click)="onClick()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>


<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<button type="button" class="btn btn-primary"
    (click)="isCollapsed = !isCollapsed">Toggle collapse
</button>
<hr>
<div (collapsed)="collapsed($event)"
     (expanded)="expanded($event)"
     [collapse]="isCollapsed"
     class="card card-block card-header">
  <div class="well well-lg">Some content</div>
</div> -->
